<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Submitted</title>


<!-- And an icon for the tab and bookmark -->
<link rel="shortcut icon" type="image/png" href="/static/img/checkbox.png" />

</head>

<body>
<div class="container">

    <h1 style="text-align: center;">Thanks!</h1>

   <p style="text-align: center;">Your preferences have been recorded.</p>

 </div> <!-- container -->
</body> </html>
